body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
	padding: 5px;
}

.form-group {
	margin-bottom: 15px;
}

.status {
	margin-top: 20px;
}